---
layout: default
title: What's your Digital Readiness?
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: https://learn.gitlab.com/c/digital-readiness?x=QjgA6X&utm_campaign=2020whitepaperdigitalreadiness
form_id: "1002"
form_type: "resources"
cta_title: "Download the whitepaper"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the whitepaper"
success_message: "You will also receive a copy of the whitepaper"
twitter_image: "/images/resources/business-agility-matrix.png"
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline What is your Digital Readiness?
        %h2.page-headline Measuring competitiveness in a digital world

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p In today's fast changing competitive environment, businesses recognize the importance of quick course-correction and providing value to customers. As a result, companies have invested over $1.3 trillion on "digital transformation" initiatives. However, despite these tremendous efforts, the vast majority of them never succeed. In 2019, CNBC reported that 70% of those programs failed.
            
            %p The Business Agility Matrix™, grounded in the agreed tenets from business agility thought leaders, measures the two most important factors to digital transformation success and helps business leaders better understand this invisible problem and not just the symptoms.
            
            %p Download the whitepaper to see where your company falls on the Business Agility Matrix™?

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }